{% extends "base.html" %}
{% load placeholder %}
{% load widget_tweaks %}
{% block content %}

<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
    <div class="form-group {% if form.email.errors%}has-error{% endif %}">
        <label class="control-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
        {{ form.email | add_class:"form-control" }}
    </div>
    <button type="submit" class="btn btn-primary">Reset password</button>
</form>

{% endblock %}