{% extends "base_moutons.html" %}
{% load static %}
{% load sanitel %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col-lg-2">
            <a class="btn btn-primary" href="{% url 'moutons_lutte_create' %}">Ajout lutte</a>
        </div>
    </div>


    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th></th>
            <th>Date lutte</th>
            <th>N° Sanitel</th>
            <th>N° male</th>
            <th>Nom male</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
        <tr>
            <td>
                <div class="btn-group" role="group" aria-label="actions">
                    <a type="button" class="btn btn-default btn-sm" aria-label="consulter"
                       href="{{object.get_absolute_url}}" title="consulter">
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>

                    </a>
                    <a type="button" class="btn btn-default btn-sm" aria-label="editer" href="{{object.get_update_url}}"
                       title="editer">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </div>
            </td>
            <td>{{ object.date_lutte | date:"d/m/Y" }}</td>
            <td>{{ object.mouton_number.sanitel_number | sanitel }}</td>
            <td>{{ object.male_number.sanitel_number | sanitel }}</td>
            <td>{{ object.male_number.name }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}